<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pay Compression</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  </head>

  <body>

    <style>
      .fade-enter-active, .fade-leave-active {
         transition: opacity 1s
      }
      .fade-enter, .fade-leave-to {
         opacity: 0
      }
    </style>

    <div id="app">

      <section class="section">
        <div class="container">  
          <div class="columns">
            <div class="column is-two-thirds has-background-info">

              <div class="hero is-info">
                <div class="hero-body">
                  <h1 class="title is-1 has-text-black">
                    Pay Compression
                  </h1>
                  <p class="subtitle is-3">
                    How are you valued?
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section">
        <div class="container">  
          <div class="columns">
            <div class="column is-two-thirds has-background-info-light">

              <p class="is-size-4 has-text-black px-4 py-4">
                Why? <a href="https://gitlab.com/gitlab-com/people-group/total-rewards/-/issues/228">Implement Geo Zones into Location Factors</a><br>
                What? <a href="https://www.salary.com/blog/a-beginners-guide-to-pay-compression/">A Beginner's Guide to Pay Compression</a><br>
                Source code: <a href="https://gitlab.com/rverschoor/paco">https://gitlab.com/rverschoor/paco</a><br>
                No data is collected
              </p>

              <p class="subtitle is-4 px-4 py-4">
                <strong>Step 1.</strong><br>
                Use the <a href="">Compensation Calculator</a> to determine the minimum and maximum
                values in the band for your job, country, and location.
              </p>

              <div class="field is-horizontal pr-6">
                <div class="field-label is-large">
                  <label class="label">Minimum</label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <div class="control">
                      <input type="number" v-model.number="bandmin" class="input is-large" placeholder="Enter amount">
                    </div>
                  </div>
                </div>
              </div>

              <div class="field is-horizontal pr-6">
                <div class="field-label is-large">
                  <label class="label">Maximum</label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <div class="control">
                      <input type="number" v-model.number="bandmax" class="input is-large" placeholder="Enter amount">
                    </div>
                  </div>
                </div>
              </div>

              <br><br>
              <p class="subtitle is-4 px-4">
                <strong>Step 2.</strong><br>
                Fill in your current salary.
              </p>

              <div class="field is-horizontal pr-6">
                <div class="field-label is-large">
                  <label class="label">Current</label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <div class="control">
                      <input type="number" v-model.number="paycurr" class="input is-large" placeholder="Enter amount">
                    </div>
                  </div>
                </div>
              </div>
              <br>
            </div>
          </div>
        </div>
      </section>

      <section class="section">
        <div class="container">  
          <div class="columns">
            <div class="column is-two-thirds has-background-info-light">
              <p class="subtitle is-4 px-4 py-4">
                <strong>Step 3.</strong><br>
                How are you valued?
              </p>
              <transition name = "fade">
                <div v-show="validvalue" class="container px-4">  
                  <h3 class="title is-4">You're at {{ calc }} % in the band</h3>
                  <progress v-show="inband" class="progress is-info" :value="calc" :max="100">{{ calc }}</progress>
                  <h3 class="title is-4">This is {{this.minval}} % of the Minimum</h3>
                </div>
              </transition>
              <br><br>
            </div>
          </div>
        </div>
      </section>

    </div>

    <script>
      var app = new Vue({
        el: '#app',
        data: {
          bandmin: '',
          bandmax: '',
          paycurr: '',
          minval: '',
          validvalue: false,
          inband: false
        },
        computed: {
          calc : function() {
            let result = '---';
            if (this.bandmin > 0 && this.bandmax > this.bandmin && this.paycurr > 0) {
              this.validvalue = true;
              result = ((this.paycurr - this.bandmin) / 
                        (this.bandmax - this.bandmin) * 100).toFixed(0);
              this.inband = (result >= 0 && result <= 100) ? true : false;
              this.minval = (100 + (this.paycurr - this.bandmin) / (this.bandmin / 100)).toFixed(0);
            } else {
              this.validvalue = false;
            }
            return result;
          }
        }
      })
    </script>

  </body>
</html>
